/** == ORANGE AND TAN Color Palette
/* CSS HEX */
/**
--midnight-violet: #004042ff;
--cherry-rose: #5eb1bfff;
--cotton-rose: #ffffffff;
--orange-crayola: #ef7a43ff;
--pacific-cyan: #d94f30ff;

<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="08317492185861521">new CoolorsPaletteWidget("08317492185861521", ["004042","5eb1bf","eef9fc","ffffff","ef7a43","d94f30"]); </script>
**/

/* SCSS HEX */
$midnight-violet: #330A1A;
$cherry-rose: #AB2158;
$cotton-rose: #F7CACD;
$pacific-cyan: #0A95AE;

/** main color scheme **/
$main-text-color: $midnight-violet;
$main-bg: lighten( $cherry-rose, 43% );
$main-link: $pacific-cyan;
$main-link-hover: lighten( $pacific-cyan, 25% );
$main-headers: $pacific-cyan;

/** Color scheme for top header bar **/
$dark-text-color: $midnight-violet;
$dark-bg: lighten( $cherry-rose, 30% );
$dark-link: darken( $pacific-cyan, 10% );
$dark-link-hover: $midnight-violet;
$dark-headers: darken( $pacific-cyan, 15% );

/** Color scheme for bottom bar **/
$accent-text-color: lighten( $cherry-rose, 43% );
$accent-bg: $midnight-violet;
$accent-link: lighten( $pacific-cyan, 25% );
$accent-link-hover: $cotton-rose;
$accent-headers: lighten( $pacific-cyan, 25% );
